<%- include('../layout/userHeader.ejs') %>
    <style>
        .row {
            display: flex;
            flex-wrap: wrap;
        }

        .col-12 {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
        }

        @media (min-width: 768px) {
            .col-md-10 {
                flex-basis: 0;
                flex-grow: 1;
            }
        }

        .hh-grayBox {
            background-color: #f6f6f6;
            margin-bottom: 20px;
            padding: 35px;
            margin-top: 20px;
        }

        .pt45 {
            padding-top: 45px;
        }

        .order-tracking {
            text-align: center;
            width: 25%;
            position: relative;
            display: block;
        }

        .order-tracking .is-complete {
            display: block;
            position: relative;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            border: 0px solid #afafaf;
            background-color: #ff6b6b;
            margin: 0 auto;
            transition: background 0.25s linear;
            -webkit-transition: background 0.25s linear;
            z-index: 2;
        }

        .order-tracking .is-complete:after {
            display: block;
            position: absolute;
            content: '';
            height: 14px;
            width: 7px;
            top: -2px;
            bottom: 0;
            left: 5px;
            margin: auto 0;
            border: 0px solid #afafaf;
            border-width: 0px 2px 2px 0;
            transform: rotate(45deg);
            opacity: 0;
        }

        .order-tracking.completed .is-complete {
            border-color: #27aa80;
            border-width: 0px;
            background-color: #27aa80;
        }

        .order-tracking.completed .is-complete:after {
            border-color: #fff;
            border-width: 0px 3px 3px 0;
            width: 7px;
            left: 11px;
            opacity: 1;
        }

        .order-tracking p {
            color: #a4a4a4;
            font-size: 16px;
            margin-top: 8px;
            margin-bottom: 0;
            line-height: 20px;
        }

        .order-tracking p span {
            font-size: 14px;
        }

        .order-tracking.completed p {
            color: #000;
        }

        .order-tracking::before {
            content: '';
            display: block;
            height: 3px;
            width: calc(100% - 40px);
            background-color: #ff6b6b;
            top: 13px;
            position: absolute;
            left: calc(-50% + 20px);
            z-index: 0;
        }

        .order-tracking:first-child:before {
            display: none;
        }

        .order-tracking.completed:before {
            background-color: #27aa
        }
    </style>
    <div id="page" class="site page-home">
        <aside class="site-off desktop-hide">
            <div class="off-canvas">
                <div class="canvas-head flexitem">
                    <div class="logo"><a href="/"><span class="circle"></span>.Store</a></div>
                    <a href="#" class="t-close flexcenter"><i class="ri-close-line"></i></a>
                </div>
                <div class="departments"></div>
                <nav></nav>
                <div class="thetop-nav"></div>
            </div>
        </aside>
        <header>
            <div class="header-top mobile-hide">
                <div class="container">
                    <div class="wrapper flexitem">
                        <div class="left">
                            <ul class="flexitem main-links">
                                <li><a href="/home#features">Latest Products</a></li>
                                <li><a href="/wishlist">Wishlist</a></li>
                            </ul>
                        </div>
                        <div class="right">
                            <ul class="flexitem main-links">
                                <li><a href="/orders">Order Tracking</a></li>
                                <li><a href="#">IND <span class="icon-small"><i
                                                class="ri-arrow-down-s-line"></i></span></a>
                                    <ul>
                                        <li class="current"><a href="#">IND</a></li>
                                        <li><a href="#">USD</a></li>
                                    </ul>
                                </li>
                                
                                  
                                <li><a href="#">English <span class="icon-small"><i
                                                class="ri-arrow-down-s-line"></i></span></a>
                                    <ul>
                                        <li class="current"><a href="#">English</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-top -->
            <div class="header-nav">
                <div class="container">
                    <div class="wrapper flexitem">
                        <a href="#" class="trigger desktop-hide"><span class="i ri-menu-2-line"></span></a>
                        <div class="left flexitem">
                            <div class="logo"><a href="/"><span class="circle"></span>.Shopio</a></div>
                            <nav class="mobile-hide">
                                <ul class="flexitem second-links">
                                    <li><a href="/home">Home</a></li>
                                    <li><a href="/shop">Shop</a></li>
                                    <li><a href="/shop?g=Men">Men</a></li>
                                    <li><a href="/shop?g=Women">Women</a></li>
                                    <li>
                                        <a>Sports
                                            <div class="fly-item"><span>Soon</span></div>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <% if(typeof userData!='undefined' ){ %>
                            <div class="right">
                                <ul class="flexitem second-links">
                                    <li class="mobile-hide"><a href="/wishlist">
                                            <div class="icon-large">
                                                <i class="ri-heart-line"></i>
                                                <div class="fly-item"><span class="item-number">
                                                        <% if(wishlist){ %>
                                                            <%= wishlist.products.length %>
                                                            <% }else{ %>
                                                                0
                                                                <% } %>
                                                    </span></div>
                                            </div>
                                        </a></li>
                                    <li class="iscart mobile-hide"><a href="/cart">

                                            <div class="icon-large">
                                                <i class="ri-shopping-cart-line"></i>
                                                <% if(cartData){ %>
                                                    <div class="fly-item"><span class="item-number">
                                                            <%= cartData.products.length %>
                                                        </span></div>
                                                    <% }else{ %>
                                                        <div class="fly-item"><span class="item-number">
                                                               0
                                                            </span></div>
                                                        <% } %>
                                            </div>


                                        </a>
                                    </li>
                                    <li class="iscart"><a href="#">
                                            <div class="icon-large">
                                                <i class="ri-account-circle-line"></i>
                                            </div>
                                        </a>
                                        <div class="mini-login">
                                            <div class="content">
                                                <div class="cart-head">
                                                    <p>Hello <span style="color: #ff6b6b;">
                                                            <%= userData.name %>
                                                        </span></p>
                                                    <p style="font-size: .8rem; font-weight: 400 ;">
                                                        <%= userData.mobile %>
                                                    </p>
                                                    <hr style="margin-top: 10px; margin-bottom: 10px; height: 1px; ">
                                                    <a href="/orders">Orders</a><br>
                                                    <a href="/cart">Cart</a><br>
                                                    <a href="/whishlist">Wishlist</a><br>
                                                    <hr style="margin-top: 10px; margin-bottom: 10px; height: .1px;">
                                                    <a href="/userProfile">Edit Profile</a><br>
                                                    <a href="/address">Address</a><br>
                                                    <a href="/wallet">Wallet</a><br>
                                                    <a href="/logout">Logout</a>
                                                </div>
                                            </div>
                                        </div>
                                        <% }else{ %>
                                            <div class="right">
                                                <ul class="flexitem second-links">
                                                    <li class="mobile-hide"><a href="/wishlist">
                                                            <div class="icon-large"><i class="ri-heart-line"></i></div>
                                                        </a></li>
                                                    <li class="iscart mobile-hide"><a href="/cart">

                                                            <div class="icon-large">
                                                                <i class="ri-shopping-cart-line"></i>
                                                            </div>


                                                        </a>
                                                    </li>
                                                    <li class="iscart"><a href="#">
                                                            <div class="icon-large">
                                                                <i class="ri-account-circle-line"></i>
                                                            </div>
                                                        </a>
                                                        <div class="mini-login">
                                                            <div class="content">
                                                                <div class="cart-head">
                                                                    <p>Welcome</p>
                                                                    <p style="font-size: .8rem; font-weight: 400 ;">To
                                                                        access
                                                                        account and orders</p>
                                                                    <a href="/login"><button>LOGIN/SIGN UP</button></a>
                                                                    <hr
                                                                        style="margin-top: 10px; margin-bottom: 10px; height: 1px; ">
                                                                    <a href="/login">Orders</a><br>
                                                                    <a href="/cart">Cart</a><br>
                                                                    <a href="/cart">Wishlist</a><br>
                                                                    <hr
                                                                        style="margin-top: 10px; margin-bottom: 10px; height: .1px;">
                                                                    <a href="/login">Address</a><br>
                                                                    <a href="/login">Wallet</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% } %>

                                                    </li>
                                                </ul>
                                            </div>
                            </div>
                    </div>
                </div>
                <!-- header-nav -->

                <div class="header-main mobile-hide">
                    <div class="container">
                        <div class="wrapper flexitem">
                            <div class="left">
                                <div class="dpt-cat">
                                    <div class="dpt-head">
                                        <div class="main-text">All Departments</div>
                                        <div class="mini-text mobile-hide">Total 1059 Products</div>
                                        <a href="#" class="dpt-trigger mobile-hide">
                                            <i class="ri-menu-3-line ri-xl"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                                <div class="search-box">
                                    <form action="/shop" class="search" method="get" id="searchProduct">
                                        <span class="icon-large"><i class="ri-search-line"></i></span>
                                        <input type="search" placeholder="Search for products" name="search" id="searchText">
                                        <button type="submit">Search</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- header-main -->

        </header>
        <!-- Header -->
        <main>
            <div class="single-checkout">
                <div class="head-container">
                    <h3>Account</h3>
                    <p style="font-size: 13px; margin-bottom: 15px;">
                        <%= userData.name %>
                    </p>
                    <hr>
                </div>
                <div class="container-acc">
                    <div class="sidebar">
                        <div class="sidebar__item"><a href="/userProfile">Profile</a></div>
                        <div class="sidebar__item"><a href="/address">Address</a></div>
                        <div class="sidebar__item"><a class="active" href="/orders">Orders</a></div>

                    </div>
                    <hr class="hr-side">
                    <div class="content">
                        <div class="content__header">
                            <h2>Orders</h2>
                        </div>
                        <div class="address__form">
                            <div class="order_top" style="display: flex;">
                                <div class="status_icon">
                                </div>
                                <div class="order_id">
                                    <p style="font-size: 17px; font-weight: 400;">Order ID:#<%= orderData._id%></p>
                                </div>
                            </div>
                            <h4 style="margin-top: 30px; margin-bottom: -17px;">Product Details</h4>
                            <% orderData.productDatas.forEach((product)=>{%>
                                <div class="address__form"
                                style="display: flex; flex-direction: row; background-color: rgb(255, 255, 255);">
                                <div>
                                    <img src="/productImage/<%= product.productId.image[0] %>" alt="ok"
                                        style="height: 127px; width:102px">
                                </div>
                                <div
                                    style="display:flex ; flex-direction: column; justify-content: center; margin-left: 23px;">
                                    <p style="font-weight: 500;"><%= product.productId.productName %> x<%= product.quantity %></p>
                                    <p>Price(Per Qty) : ₹<%= (product.price).toFixed(2) %></p>
                                </div>
                                <div
                                    style="margin-left: auto; vertical-align: middle; display: flex; align-items: center;">
                                    <a href="product?id=<%= product.productId._id %>"><i style="font-size: 67px; margin-left: auto; color: rgb(134, 134, 134);"
                                            class="ri-arrow-right-s-line"></i></a>
                                </div>
                            </div>
                                <%})%>
                                <h4 style="margin-top: 30px; margin-bottom: -17px;">Order Status</h4>
                            <% if(orderData.status == "Cancelled" || orderData.status =="Returned"){ %>
                                    <% if(orderData.status == "Returned"){ %>
                                        
                                    <div class="row">
                                        <div class="col-12 col-md-10 hh-grayBox pt45 pb20" style="display: flex; align-items: center;">
                                            <div style="width: 45px; height: 45px; border-radius: 50%; background-color: rgb(201, 201, 201); text-align: center; display: grid; place-items: center;;">
                                                                <i style="font-size: 26px; color:rgb(63, 63, 63)" class="ri-arrow-go-back-line"></i>
                                            </div>
                                            <h3 style="margin-left: 10px;">Returned</h3>
                                        </div>
                                    </div>
                                        <% }else{ %>
                                            <div class="row">
                                                <div class="col-12 col-md-10 hh-grayBox pt45 pb20" style="display: flex; align-items: center;">
                                                    <div style="width: 45px; height: 45px; border-radius: 50%; background-color: rgb(201, 201, 201); text-align: center; display: grid; place-items: center;;">
                                                                        <i style="font-size: 26px; color:rgb(63, 63, 63)" class="ri-close-fill"></i>
                                                    </div>
                                                    <h3 style="margin-left: 10px;">Cancelled</h3>
                                                </div>
                                            </div>
                                            <% } %>
                            
                                <% }else{ %>
                                    <div class="row">
                                        <div class="col-12 col-md-10 hh-grayBox pt45 pb20">
                                            <div class="row justify-content-between">
                                                <div class="order-tracking <%= orderData.status === "Placed" || orderData.status === "Shipped" || orderData.status === "Out Of Delivery" || orderData.status === "Delivered" ? 'completed' : '' %>">
                                                    <span class="is-complete"></span>
                                                    <p>Placed<br><span></span></p>
                                                </div>
                                                <div class="order-tracking <%= orderData.status === "Shipped" || orderData.status === "Out Of Delivery" || orderData.status === "Delivered" ? 'completed' : '' %>">
                                                    <span class="is-complete"></span>
                                                    <p>Shipped<br><span></span></p>
                                                </div>
                                                <div class="order-tracking <%= orderData.status === "Out Of Delivery" || orderData.status === "Delivered" ? 'completed' : '' %>">
                                                    <span class="is-complete"></span>
                                                    <p>Out Of Delivery<br><span></span></p>
                                                </div>
                                                <div class="order-tracking <%= orderData.status === "Delivered" ? 'completed' : '' %>">
                                                    <span class="is-complete"></span>
                                                    <p>Delivered<br><span></span></p>
                                                </div>
        
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                            <h4 style="margin-top: 10px; margin-bottom: -17px;">Delivery Address</h4>
                            <div class="address__form"
                                style="display: flex; flex-direction: column; background-color: rgb(255, 255, 255);">
                                <p><%= address.address %></p>
                                <p><%= address.locality %></p>
                                <p><%= address.pincode %></p>
                                <p><%= address.city %></p>
                                <p><%= address.district %>,<%= address.state %></p>
                               </div>
                            <div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </main>
        <!-- Main -->

        <footer>
            <div class="newsletter">
                <div class="container">
                    <div class="wrapper">
                        <div class="box">
                            <div class="content">
                                <h3>Join Our Newsletter</h3>
                                <p>Get E-mail updates about our latest shop and <strong>special offers</strong></p>
                            </div>
                            <form id="subscribeForm" class="search">
                                <span class="icon-large"><i class="ri-mail-line"></i></span>
                                <input type="mail" placeholder="Your email address" name="email" id="subscribeEmail" required>
                                <button type="submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- newsletter -->

            <div class="widgets">
                <div class="container">
                    <div class="wrapper">
                        <div class="flexwrap">
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>Help & Contact</h4>
                                    <ul class="flexcol">
                                        <li><a href="/userProfile">Your Account</a></li>
                                        <li><a href="/orders">Your Orders</a></li>
                                        <li><a href="/wishlist">Your Wishlist</a></li>
                                        <li><a href="/cart">Cart</a></li>
                                        <li><a href="#">Contact us</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>Product Categories</h4>
                                    <ul class="flexcol">
                                        <li><a href="/shop?g=Men">Men</a></li>
                                        <li><a href="/shop?g=Women">Women</a></li>
                                        <li><a href="/shop">Shirt</a></li>
                                        <li><a href="/shop">Pants</a></li>
                                        <li><a href="/shop">Footwear</a></li>
                                        <li><a href="/shop">Accessories</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>Payment Info</h4>
                                    <ul class="flexcol">
                                        <li><a href="/userProfile">Wallet</a></li>
                                        <li><a href="https://razorpay.com/support/">RazorPay</a></li>
                                        <li><a href="/Shop">Shop with your Wallet</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>About Us</h4>
                                    <ul class="flexcol">
                                        <li><a href="/home">Company Info</a></li>
                                        <li><a href="/shop">Customer reviews</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- widgets-->

            <div class="footer-info">
                <div class="container">
                    <div class="wrapper">
                        <div class="flexcol">
                            <div class="logo">
                                <a href=""><span class="circle"></span>.Shopio</a>
                            </div>
                            <div class="socials">
                                <ul class="flexitem">
                                    <li><a href="#"><i class="ri-twitter-line"></i></a></li>
                                    <li><a href="#"><i class="ri-facebook-line"></i></a></li>
                                    <li><a href="#"><i class="ri-instagram-line"></i></a></li>
                                    <li><a href="#"><i class="ri-linkedin-line"></i></a></li>
                                    <li><a href="#"><i class="ri-youtube-line"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <p class="mini-text">Copyright 2022 © .Store. All right reserved. <br> Developed By <a style="color: rgb(168, 74, 255);" href="#">Basim</a></p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer -->

        <div class="menu-bottom desktop-hide">
            <div class="container">
                <div class="wrapper">
                    <nav>
                        <ul class="flexitem">
                            <% if(typeof userData!='undefined' ){ %>
                            <li>
                                <a href="/shop">
                                    <i class="ri-shopping-bag-line"></i>
                                    <span>Shop</span>
                                </a>
                            </li>
                            <li>
                                <a href="/userProfile">
                                    <i class="ri-user-6-line"></i>
                                    <span>Account</span>
                                </a>
                            </li>
                            <li>
                                <a href="/wishlist">
                                    <i class="ri-heart-line"></i>
                                    <span>Wishlist</span>
                                    <div class="fly-item">
                                        <span class="item-number">
                                            <% if(wishlist){ %>
                                            <%= wishlist.products.length %>
                                            <% }else{ %>
                                                0
                                                <% } %></span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#0" class="t-search">
                                    <i class="ri-search-line"></i>
                                    <span>Search</span>
                                </a>
                            </li>
                            <li>
                                <a href="/cart">
                                    <i class="ri-shopping-cart-line"></i>
                                    <span>Cart</span>
                                    <% if(cartData){ %>
                                        <div class="fly-item"><span class="item-number">
                                                <%= cartData.products.length %>
                                            </span></div>
                                        <% }else{ %>
                                            <div class="fly-item"><span class="item-number">
                                                   0
                                                </span></div>
                                            <% } %>
                                </a>
                            </li>
                            <% }else{ %>
                                <li>
                                    <a href="/shop">
                                        <i class="ri-shopping-bag-line"></i>
                                        <span>Shop</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/userProfile">
                                        <i class="ri-user-6-line"></i>
                                        <span>Account</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/wishlist">
                                        <i class="ri-heart-line"></i>
                                        <span>Wishlist</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0" class="t-search">
                                        <i class="ri-search-line"></i>
                                        <span>Search</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/cart">
                                        <i class="ri-shopping-cart-line"></i>
                                        <span>Cart</span>
                                    </a>
                                </li>
                                <% } %>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- menu bottom -->

        <div class="search-bottom desktop-hide">
            <div class="container">
                <div class="wrapper">
                    <form action="/shop" class="search" method="get" id="searchProduct">
                        <span class="icon-large"><i class="ri-search-line"></i></span>
                        <input type="search" placeholder="Search for products" name="search" >
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- search bottom -->

        <div class="overlay"></div>
    </div>
    <%- include('../layout/userFooter.ejs') %>