<%- include('../layout/userHeader.ejs') %>
    <div id="page" class="site page-home">
        <aside class="site-off desktop-hide">
            <div class="off-canvas">
                <div class="canvas-head flexitem">
                    <div class="logo"><a href="/"><span class="circle"></span>.Shopio</a></div>
                    <a href="#" class="t-close flexcenter"><i class="ri-close-line"></i></a>
                </div>
                <div class="departments"></div>
                <nav></nav>
                <div class="thetop-nav"></div>
            </div>
        </aside>
        <header>
            <div class="header-top mobile-hide">
                <div class="container">
                    <div class="wrapper flexitem">
                        <div class="left">
                            <ul class="flexitem main-links">
                                <li><a href="#">Featured Products</a></li>
                                <li><a href="#">Wishlist</a></li>
                            </ul>
                        </div>
                        <div class="right">
                            <ul class="flexitem main-links">
                                <li><a href="/login">Sign In</a></li>
                                <li><a href="#">Order Tracking</a></li>
                                <li><a href="#">IND <span class="icon-small"><i
                                                class="ri-arrow-down-s-line"></i></span></a>
                                    <ul>
                                        <li class="current"><a href="#">IND</a></li>
                                        <li><a href="#">USD</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">English <span class="icon-small"><i
                                                class="ri-arrow-down-s-line"></i></span></a>
                                    <ul>
                                        <li class="current"><a href="#">English</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-top -->
            <div class="header-nav">
                <div class="container">
                    <div class="wrapper flexitem">
                        <a href="#" class="trigger desktop-hide"><span class="i ri-menu-2-line"></span></a>
                        <div class="left flexitem">
                            <div class="logo"><a href="/"><span class="circle"></span>.Shopio</a></div>
                            <nav class="mobile-hide">
                                <ul class="flexitem second-links">
                                    <li><a href="/home">Home</a></li>
                                    <li><a href="/shop">Shop</a></li>
                                    <li><a href="#">Men</a></li>
                                    <li><a href="#">Women</a></li>
                                    <li><a href="#">Sports</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="right">
                            <ul class="flexitem second-links">
                                <li class="mobile-hide"><a href="#">
                                        <div class="icon-large"><i class="ri-heart-line"></i></div>
                                    </a></li>
                                <li class="iscart"><a href="#">
                                        <div class="icon-large">
                                            <i class="ri-shopping-cart-line"></i>
                                        </div>


                                    </a>
                                </li>
                                <li class="iscart"><a href="#">
                                        <div class="icon-large">
                                            <i class="ri-account-circle-line"></i>
                                        </div>


                                    </a>
                                    <div class="mini-login">
                                        <div class="content">
                                            <div class="cart-head">
                                                <a href="/login">Login/Sign Up</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-nav -->

            <div class="header-main mobile-hide">
                <div class="container">
                    <div class="wrapper flexitem">
                        <div class="left">
                            <div class="dpt-cat">
                                <div class="dpt-head">
                                    <div class="main-text">All Departments</div>
                                    <div class="mini-text mobile-hide">Total 1059 Products</div>
                                    <a href="#" class="dpt-trigger mobile-hide">
                                        <i class="ri-menu-3-line ri-xl"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="search-box">
                                <form action="" class="search">
                                    <span class="icon-large"><i class="ri-search-line"></i></span>
                                    <input type="search" placeholder="Search for products">
                                    <button type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-main -->

        </header>
        <!-- Header -->
        <main>

            <div class="single-category">
                <div class="container">
                    <div class="wrapper">
                        <div class="column">
                            <div class="holder">
                                <div class="row sidebar">
                                    <div class="filter">
                                        <div class="filter-block">
                                            <h3><i style="margin-right: 10px; font-size: 18px;"
                                                    class="ri-filter-3-line"></i>Filters</h3>
                                        </div>
                                        <div class="filter-block">
                                            <h4>Gender</h4>
                                            <ul>
                                                <li>
                                                    <input type="radio" name="gender" id="Men" onclick="filterProduct()"
                                                        value="Men">
                                                    <label for="Men">
                                                        <span class="checked"></span>
                                                        <span>Men</span>
                                                    </label>
                                                    <span class="count">
                                                        <%= genderCount.men %>
                                                    </span>
                                                </li>
                                                <li>
                                                    <input type="radio" name="gender" id="Women"
                                                        onclick="filterProduct()" value="Women">
                                                    <label for="Women">
                                                        <span class="checked"></span>
                                                        <span>Women</span>
                                                    </label>
                                                    <span class="count">
                                                        <%= genderCount.women %>
                                                    </span>
                                                </li>

                                            </ul>
                                        </div>
                                        <div class="filter-block">
                                            <h4>Category</h4>
                                            <ul>
                                                <% categoryData.forEach((category,index)=>{ %>
                                                    <li>
                                                        <input type="checkbox" value="<%= category._id %>"
                                                            name="category" id="<%= category.categoryName %>"
                                                            onclick="filterProduct()">
                                                        <label for="<%= category.categoryName %>">
                                                            <span class="checked"></span>
                                                            <span>
                                                                <%= category.categoryName %>
                                                            </span>
                                                        </label>
                                                        <span class="count">
                                                            <%= category.count %>
                                                        </span>
                                                    </li>
                                                    <% }) %>
                                            </ul>
                                        </div>
                                        <div class="filter-block">
                                            <h4>Price</h4>
                                            <ul>
                                                <li>
                                                    <input type="checkbox" name="price" id="athletic" value="<500"
                                                        onclick="filterProduct()">
                                                    <label for="athletic">
                                                        <span class="checked"></span>
                                                        <span>Below Rs.500</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="price" id="lounge" value="500-1000"
                                                        onclick="filterProduct()">
                                                    <label for="lounge">
                                                        <span class="checked"></span>
                                                        <span>Rs.500-1000</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="price" id="outdoor" value="1001-1500"
                                                        onclick="filterProduct()">
                                                    <label for="outdoor">
                                                        <span class="checked"></span>
                                                        <span>Rs.1001-1500</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="price" id="travel" value="1501-2000"
                                                        onclick="filterProduct()">
                                                    <label for="travel">
                                                        <span class="checked"></span>
                                                        <span>Rs.1501-2000</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="price" id="urban" value="2001-2500"
                                                        onclick="filterProduct()">
                                                    <label for="urban">
                                                        <span class="checked"></span>
                                                        <span>Rs.2001-2500</span>
                                                    </label>
                                                </li>
                                            </ul>

                                        </div>

                                        <div class="filter-block pricing">
                                            <div class="byprice">
                                                <div class="range-track">
                                                    <input type="range" value="25000" min="0" max="100000">
                                                </div>
                                                <div class="price-range">
                                                    <span class="price-form">₹50</span>
                                                    <span class="price-to">₹5000</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section">
                                    <div class="row">
                                        <div class="cat-head">
                                            <div class="breadcrumb">
                                                <ul class="flexitem">
                                                    <li><a href="#">Home</a></li>
                                                    <li>Shop</li>
                                                </ul>
                                            </div>
                                            <div class="page-title">
                                                <h1>Shop</h1>
                                            </div>
                                            <div class="cat-description">
                                                <p>We offer a wide variety of dresses for both men and women. Whether
                                                    you're looking for casual or formal attire, we have something for
                                                    every occasion. From elegant gowns to stylish suits, our collection
                                                    is sure to make you look and feel your best. Shop now and discover
                                                    the perfect outfit for your next event!</p>
                                            </div>
                                            <div class="cat-navigation flexitem">
                                                <div class="item-filter desktop-hide">
                                                    <a href="#" class="filter-trigger label">
                                                        <i class="ri-menu-2-line ri-2x"></i>
                                                        <span>Filter</span>
                                                    </a>
                                                </div>
                                                <div class="item-options">
                                                    <div class="label">
                                                        <span id="mobile-hide" class="mobile-hide">Sort Products</span>
                                                        <div id="desktop-hide" class="desktop-hide">Sort Products</div>
                                                        <i class="ri-arrow-down-s-line"></i>
                                                    </div>
                                                    <ul>
                                                            <input type="radio" onclick="filterProduct()" id="productAz" name="sort" value="Product Name (A - Z)" hidden><label for="productAz">Product Name (A - Z)</label></input>
                                                            <input type="radio" onclick="filterProduct()" id="highToLow" name="sort"  value="Price(High to Low)" hidden><label for="highToLow">Price(High to Low)</label></input>
                                                            <input type="radio" onclick="filterProduct()" id="lowToHigh" name="sort"  value="Price(Low to High)" hidden><label for="lowToHigh">Price(Low to High)</label></input>
                                                    </ul>
                                                </div>
                                                <div class="item-options">
                                                    <div class="label">
                                                        <span class="mobile-hide">Show <span id="perPage">10</span> per page</span>
                                                        <div class="desktop-hide"><span id="perPageMob">10</span></div>
                                                        <i class="ri-arrow-down-s-line"></i>
                                                    </div>
                                                    <ul>
                                                        <input type="radio" onclick="filterProduct()" id="ten" name="limit" value="10" hidden><label for="ten">10</label></input>
                                                        <input type="radio" onclick="filterProduct()" id="twenty" name="limit" value="20" hidden><label for="twenty">20</label></input>
                                                        <input type="radio" onclick="filterProduct()" id="thirty" name="limit" value="30" hidden><label for="thirty">30</label></input>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="products main flexwrap" id="product-listing">
                                        <% productData.forEach((product)=>{ %>
                                            <div class="item">
                                                <div class="media">
                                                    <div class="thumbnail object-cover">
                                                        <a href="/product?id=<%= product._id %>">
                                                            <img src="/productImage/<%= product.image[0] %>" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="hoverable">
                                                        <ul>
                                                            <% if(wishlistProduct){ %>
                                                                <li
                                                                    class="active  <% if (wishlistProduct.products.some(item => item.productId.toString() == product._id.toString())) { %>actived<% }%>">
                                                                    <a href="#"><i class="ri-heart-line"></i></a>
                                                                </li>
                                                                <% }else{ %>
                                                                    <li class="active"><a href="#"><i
                                                                                class="ri-heart-line"></i></a></li>
                                                                    <% } %>
                                                                        <li><a href="/product?id=<%= product._id %>"><i
                                                                                    class="ri-eye-line"></i></a></li>
                                                                        <li><a href="#"><i
                                                                                    class="ri-shuffle-line"></i></a>
                                                                        </li>
                                                        </ul>
                                                    </div>
                                                    <div class="discount circle flexcenter">
                                                        <% const offerPercentage=((product.MRP - product.salePrice) /
                                                            product.MRP) * 100; %>
                                                            <span>
                                                                <%= offerPercentage.toFixed(0) %>%
                                                            </span>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <div class="rating">
                                                        
                                                    <% let totalStarCount = product.reviews.map((review)=>review.starCount).reduce((acc,cur)=> acc+=cur,0) %>
                                                    <% let reviewPercentage = totalStarCount/product.reviews.length; %>
                                                        <div class="shop-stars">
                                                            <span class="fa fa-star <% if (reviewPercentage >= 1) { %>checked<% } %>"></span>
                                                            <span class="fa fa-star <% if (reviewPercentage >= 2) { %>checked<% } %>"></span>
                                                            <span class="fa fa-star <% if (reviewPercentage >= 3) { %>checked<% } %>"></span>
                                                            <span class="fa fa-star <% if (reviewPercentage >= 4) { %>checked<% } %>"></span>
                                                            <span class="fa fa-star <% if (reviewPercentage >= 5) { %>checked<% } %>"></span>
                                                                                        
                                                        </div>
                                                        <span class="mini-text">(<%= product.reviews.length %>)</span>
                                                    </div>
                                                    <h3><a href="/product?id=<%= product._id %>">
                                                            <%= product.productName %>
                                                        </a></h3>
                                                    <div class="price">
                                                        <span class="current">₹<%= product.salePrice %></span>
                                                        <span class="normal mini-text">₹<%= product.MRP %></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }) %>
                                    </div>
                                    <div class="pagination">
                                        <a href="?page=1">&laquo;</a>
                                        <% for (let i=1; i <=totalPages; i++) { %>
                                            <a href="?page=<%= i %>" class="">
                                                <%= i %>
                                            </a>
                                            <% } %>
                                                <a href="?page=<%= totalPages %>">&raquo;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




        </main>
        <!-- Main -->

        <footer>
            <div class="newsletter">
                <div class="container">
                    <div class="wrapper">
                        <div class="box">
                            <div class="content">
                                <h3>Join Our Newsletter</h3>
                                <p>Get E-mail updates about our latest shop and <strong>special offers</strong></p>
                            </div>
                            <form action="" class="search">
                                <span class="icon-large"><i class="ri-mail-line"></i></span>
                                <input type="mail" placeholder="Your email address" required>
                                <button type="submit">Sign Up</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- newsletter -->

            <div class="widgets">
                <div class="container">
                    <div class="wrapper">
                        <div class="flexwrap">
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>Help & Contact</h4>
                                    <ul class="flexcol">
                                        <li><a href="#">Your Account</a></li>
                                        <li><a href="#">Your Orders</a></li>
                                        <li><a href="#">Shipping Rates</a></li>
                                        <li><a href="#">Returns</a></li>
                                        <li><a href="#">Assistant</a></li>
                                        <li><a href="#">Help</a></li>
                                        <li><a href="#">Contact us</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>Product Categories</h4>
                                    <ul class="flexcol">
                                        <li><a href="#">Beauty</a></li>
                                        <li><a href="#">Electronic</a></li>
                                        <li><a href="#">Women's Fashion</a></li>
                                        <li><a href="#">Men's Fashion</a></li>
                                        <li><a href="#">Girl's Fashion</a></li>
                                        <li><a href="#">Boy's Fashion</a></li>
                                        <li><a href="#">Health & Household</a></li>
                                        <li><a href="#">Home & Kitchen</a></li>
                                        <li><a href="#">Pet Supplies</a></li>
                                        <li><a href="#">Sports</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>Payment Info</h4>
                                    <ul class="flexcol">
                                        <li><a href="#">Bussiness Card</a></li>
                                        <li><a href="#">Shop with Points</a></li>
                                        <li><a href="#">Reload Your Balance</a></li>
                                        <li><a href="#">Paypal</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>About Us</h4>
                                    <ul class="flexcol">
                                        <li><a href="">Company Info</a></li>
                                        <li><a href="">News</a></li>
                                        <li><a href="">Investors</a></li>
                                        <li><a href="">Careers</a></li>
                                        <li><a href="">Policies</a></li>
                                        <li><a href="">Customer reviews</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- widgets-->

            <div class="footer-info">
                <div class="container">
                    <div class="wrapper">
                        <div class="flexcol">
                            <div class="logo">
                                <a href=""><span class="circle"></span>.Store</a>
                            </div>
                            <div class="socials">
                                <ul class="flexitem">
                                    <li><a href="#"><i class="ri-twitter-line"></i></a></li>
                                    <li><a href="#"><i class="ri-facebook-line"></i></a></li>
                                    <li><a href="#"><i class="ri-instagram-line"></i></a></li>
                                    <li><a href="#"><i class="ri-linkedin-line"></i></a></li>
                                    <li><a href="#"><i class="ri-youtube-line"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <p class="mini-text">Copyright 2022 © .Store. All right reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer -->

        <div class="menu-bottom desktop-hide">
            <div class="container">
                <div class="wrapper">
                    <nav>
                        <ul class="flexitem">
                            <li>
                                <a href="#">
                                    <i class="ri-bar-chart-line"></i>
                                    <span>Trending</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ri-user-6-line"></i>
                                    <span>Account</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ri-heart-line"></i>
                                    <span>Wishlist</span>
                                </a>
                            </li>
                            <li>
                                <a href="#0" class="t-search">
                                    <i class="ri-search-line"></i>
                                    <span>Search</span>
                                </a>
                            </li>
                            <li>
                                <a href="#0" class="cart-trigger">
                                    <i class="ri-shopping-cart-line"></i>
                                    <span>Cart</span>
                                    <div class="fly-item">
                                        <span class="item-number">0</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- menu bottom -->

        <div class="search-bottom desktop-hide">
            <div class="container">
                <div class="wrapper">
                    <form action="" class="search">
                        <a href="#" class="t-close search-close flexcenter"><i class="ri-close-line"></i></a>
                        <span class="icon-large"><i class="ri-search-line"></i></span>
                        <input type="search" placeholder="Search" required>
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- search bottom -->
        <div class="overlay"></div>
    </div>
    <script>
        function filterProduct(id) {
            let sort = $('input[name=sort]:checked').val();
            let limit = $('input[name=limit]:checked').val();
            let gender = $('input[name=gender]:checked').val();
            let category = $('input[name=category]:checked').map(function () {
                return this.value;
            }).get();
            let price = $('input[name=price]:checked').map(function () {
                return this.value;
            }).get();
            if(typeof sort != "undefined"){
                document.getElementById("desktop-hide").innerHTML=sort
            document.getElementById("mobile-hide").innerHTML=sort
            }
            if(typeof limit != "undefined"){
                document.getElementById("perPage").innerHTML=limit
            document.getElementById("perPageMob").innerHTML=limit
            }
            $.ajax({
                type: 'POST',
                url: '/filterProduct',
                data: {
                    gender: gender,
                    category: category,
                    price: price,
                    sort:sort,
                    limit:limit
                },
                success: function (response) {
                    $('#product-listing').html('');
                    const filtered = response.filteredProduct
                    const wishlistProduct = response.wishlistProduct
                    filtered.forEach((product) => {
                        let active = "";
                        if (wishlistProduct) {
                            if (wishlistProduct.products.some(item => item.productId.toString() == product._id.toString())) {
                                active = "actived"
                            }
                        }
                        const offerPercentage = ((product.MRP - product.salePrice) / product.MRP) * 100;
                         let totalStarCount = product.reviews.map((review)=>review.starCount).reduce((acc,cur)=> acc+=cur,0) 
                                 let reviewPercentage = totalStarCount/product.reviews.length; 
                        $('#product-listing').append(`
                    <div class="item">
                        <div class="media">
                            <div class="thumbnail object-cover">
                                <a href="/product?id=${product._id}">
                                    <img src="/productImage/${product.image[0]}" alt="">
                                </a>
                            </div>
                            <div class="hoverable">
                                <ul>
                                    <li class="active ${active}"><a href="#"><i class="ri-heart-line"></i></a></li>
                                           
                                    <li><a href="/product?id=${product._id}"><i class="ri-eye-line"></i></a></li>
                                    <li><a href="#"><i class="ri-shuffle-line"></i></a></li>
                                </ul>
                            </div>
                            <div class="discount circle flexcenter">
                                    
                                <span>${offerPercentage.toFixed(0)}%</span></div>
                        </div>
                        <div class="content">
                            <div class="rating">
                                                        
                                
                                    <div class="shop-stars">
                                        <span class="fa fa-star ${ reviewPercentage >= 1 ? "checked" : ""}"></span>
                                        <span class="fa fa-star ${ reviewPercentage >= 2 ? "checked" : ""}"></span>
                                        <span class="fa fa-star ${ reviewPercentage >= 3 ? "checked" : ""}"></span>
                                        <span class="fa fa-star ${ reviewPercentage >= 4 ? "checked" : ""}"></span>
                                        <span class="fa fa-star ${ reviewPercentage >= 5 ? "checked" : ""}"></span>
                                                                    
                                    </div>
                                    <span class="mini-text">(${product.reviews.length})</span>
                                </div>
                            <h3><a href="/product?id=${product._id}">${product.productName}</a></h3>
                            <div class="price">
                                <span class="current">₹${product.salePrice}</span>
                                <span class="normal mini-text">₹${product.MRP}</span>
                            </div>
                        </div>
                    </div>
                    `)
                    })
                }
            })
        }



    </script>
    <%- include('../layout/userFooter.ejs') %>